<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>AngularFlask</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="static/favicon.ico">
<link rel="stylesheet" href="static/styles.31d6cfe0d16ae931b73c.css"></head>
<body>
  <app-root></app-root>
<script src="static/runtime.326531a97fe28583ea15.js" defer></script><script src="static/polyfills.860e7a2897d13ee05fed.js" defer></script><script src="static/main.6600f6c3a632d8e60149.js" defer></script>

</body></html>